<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<p style="color: green"><%= notice %></p>

<div class="jumbotron text-center">
  <h1>Pacientes</h1>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data de nascimento</th>
        <th>Email</th>  
        <th>Informações</th>              
      </tr>
    </thead>
    <button type="button floatLeft" class="btn btn-dark" style="float: left">
    <%= link_to "Novo Paciente", new_niver_path %>
  </button>
    <button type="button floatLeft" class="btn btn-dark" style="float: left; margin-left: 5px">
    <%= link_to "Mes", mes_index_path %>
  </button>

  <body>
  <h6 align="right"> Total de Pacientes: <b><%= @nivers.length %></b></h4>
  </body>
  
<tbody>
  <% @nivers.each do |niver| %>
    <tr>
        <td><%= niver.nome %></td>
        <td><%= niver.data_de_nascimento.strftime("%d/%m/%Y") %></td>
        <td><%= niver.email %></td>        
        <td> <%= link_to "Mostrar Paciente", niver %> </td>              
        </tr>        
        <% end %>
      
      <br>
      <br>
    </tbody>
  </table>
</div>
<br>
<br>

<!-- Upload de arquivo -->
  <div class="centralizar">
    <form class="form" action="/nivers/atualizar_dados" method="post" enctype="multipart/form-data">
      <span class="form-title">Upload do seu arquivo</span>
      <p class="form-paragraph">
          O arquivo deve ser um .xlsx
        </p>
      <label for="file-input" class="drop-container">
      <span class="drop-title">Arraste seu arquivo aqui</span>
      ou
      <input type="file" accept=".xlsx" required="" id="file-input" name="file_input">
    </label>
    <button type="submit">Enviar Arquivo</button>
    </form>
  </div>
<!-- Upload de arquivo -->
 

